body {
    background-color: aliceblue;
}

.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.text-header {
    color: #00c281;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
input {
    width: 500px;
    height: 30px;
    font-size: 25px;
    outline-color: #00c281;
    border: 1px solid #00c281;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    height: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #00c281;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #00c281;
    cursor: pointer;
}

.error {
    height: 5px;
}

.result-body {
    display: grid;
    grid-template-columns: repeat(14, 50px);
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    gap: 5px;
    grid-row-gap: 5px;
}

.results {
    display: flex;
    justify-content: center;
    place-items: center;
    text-wrap: balance;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.results:nth-child(even) {
    background-color: #00c281;
}

.results:nth-child(odd) {
    background-color: blanchedalmond;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}