html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.header-1 {
    font-size: 40px;
    margin-left: 42%;
    margin-top: 20%;
    color: coral;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 5%;
}
.folio-border {
    border: 2px solid #0a192f;
    background-color: transparent;
}
.space-1 {
    border: 2px solid #0a192f;
    height: 10px;
    background-color: transparent;
}
.section-1 {
    border: 2px solid #0a192f;
    height: 50px;
    background-color: transparent;
}
.section-2 {
    border: 2px solid #0a192f;
    height: 30px;
    background-color: transparent;
}
.section-3{
    border: 2px solid #0a192f;
    height: 180px;
    background-color: #0a192f;
}
.section-4{
    border: 2px solid #0a192f;
    height: 80px;
    background-color: #0a192f;
}
.section-5 {
    border: 2px solid #0a192f;
    height: 50px;
    background-color: transparent;
}
nav {
    text-align: right;
    word-spacing: 15px;
}

.align {
    text-decoration: none;
    color: rgb(224, 220, 220);
    font-family: 'Times New Roman', Times, serif;
}
a:hover {
    color: lightseagreen;
}
body {
    background-color: #0a192f;
}
.linear {
    color: #45b0a0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    border: 1px solid;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    margin-right: 35px;
    border-color: #45b0a0;
    background-color: transparent;
    
}
.resume {
    color: #45b0a0;
    text-decoration: none;
}
svg {
    height: 45px;
    width:45px;
    background-color: white;
}
.text {
    color:#45b0a0;
    padding-left: 20.5%;
    padding-top: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big-text{
    color: gainsboro;
    padding-left: 20%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prof {
    color: grey;
    padding-left: 20%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about {
    color: grey;
    padding-left: 20%;
    inline-size: 500px;
    overflow-wrap: break-word;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upstatement {
    color: #45b0a0;
    text-decoration: none;
}
.button-2{
    border: 1px solid #45b0a0;
    margin-left: 20%;
    width: 180px;
    height: 30px;
    color: #45b0a0;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
}
.resume:hover,.upstatement:hover {
    color: whitesmoke;
}

.section-6 {
    display: flex;
    padding-top: 2%;
    margin-left: 20%;
    height: 15px;
    width: 15px;
    flex-direction: row;
    gap: 30px;
}

svg {
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #45b0a0;
    height: 30px;
    width: 30px;
}
svg:hover {
    box-shadow: 0 0 10px 5px white;
}