.div-1 {
    background-color: orangered;
    height: 400px;
    width: 100%;
}

.div-2 {
    background-color: turquoise;
    height: 110px;
    width: 100%;
}

.div-3 {
    background-color: thistle;
    height: 110px;
    width: 100%;
}

.div-4 {
    background-color: forestgreen;
    height: 110px;
    width: 100%;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.div-1-1 {
    background-color: black;
    height: 400px;
    width: 30%;
    margin-left: 32%;
}