h1{
    text-align: center;
}
h2 {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    /*border-radius: 50px;*/
    background-image: linear-gradient(white,green);
    animation: spin linear infinite;
    animation-duration: 1s;
    text-align: center;
    padding-top: 20%;
    border-radius: 50px;
    
}

@keyframes spin {
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg); }
}
h2:hover {
    color: orange;
}
